<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap"
  rel="stylesheet"
/>
<body>
  <div class="header">
    <img
      class="img"
      (click)="goTohome()"
      src="../../assets/img/logo.png"
    />
    <button id="signup" (click)="goTosignup()">Signup</button>
  </div>

  <div class="parent">
    <div class="center">
      <span class="login">Login</span>
      <br />
<form [formGroup] ="loginform" (ngSubmit)="onSubmit()">

   <input type="text" id="usname" placeholder="Username" formControlName="usname"/><br />
      <input type="password" id="pw" placeholder="Password" formControlName="pw" /><br />
      <button  id="submit">Submit</button><br/>
</form>
     
    </div>
  </div>
</body>
<!-- onclick="usnamefunction()"  -->
<!-- (click)="goToprofile()" -->