

<body>
   <div class="header">
 <img  class="img" (click)="goTohome()" src="../../assets/img/logo.png" alt="">
        <button id="signup" (click)="goTosignup()"><b>Signup</b></button>
   </div>
 
        <div class="parent">
               <div class="center">
      <span class="login"><b>Login</b></span>
      <br>

      <input type="text" id="usname" placeholder="Username"><br>
      <input type="password" id="pw" placeholder="Password"><br>
      <button (click)="goToprofile()" id="submit"><b>Submit</b></button><br>
        </div>
    </div>
         


  

</body>