<html *ngIf="profilepage">
<head>
</head>
<body>
  <div class=" container">
    <header >  
      <div class="header">
            <img class="img" (click)="goTohome()" src="../../assets/img/logo.png" alt="">    
    <button  id="add" (click)="goToaddprofile()"><b>+ Add</b></button>
    <div>
      <button id="profile" (click)="showelements=!showelements"><b>Profile</b> 
<img src="../../assets/img/pdrop-down 4.png" alt=""></button>
    </div>
    <div id="profilebox" *ngIf="showelements">
      <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;<b>Harish</b>   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b>harish18092002@gmail.com</b></p>
      <button class="logout" (click)="goTohome()">Log Out</button>
    </div>

      </div>

   </header>

   <div class="centerflex">
    <select class="ip">
      <option>Intresting Peoples </option>
      <option>Business Peoples</option>
      <option>Idea Peoples </option>
      <option>Entertainment Peoples </option>
      <option>Talented Peoples </option>
      <option>Startup Plan Peoples </option>
      <option>Create Your own tag + </option>
    </select>



<div class="card">
  <div class="contentbox" *ngFor="let user of users">
    <div class="personcard"  (click)="selectSingleUser(user)">
      <div class="personimage">
<img  src="{{user.image}}">
      </div>
<div class="content">
  <h5 class="contenttext"><b>Name:</b>{{user.name}}<br><b>Place:</b>{{user.place}}</h5>

</div>
    </div>
  </div>
  
  

</div>
   </div>

</div>

</body>
</html>
<app-singleprofile *ngIf="singleprofilepage" [receiver] = 'currentUser'></app-singleprofile>