
<body>
  <div class=" container">
    <header >
      
    <img class="img" (click)="goTohome()" src="../../assets/img/logo.png" alt="">    
    <button  id="add" (click)="goToaddprofile()"><b>+ Add</b></button>
<button id="profile"><b>Profile</b> 
<img src="../../assets/img/pdrop-down 4.png" alt=""></button>
   </header>

   <div class="centerflex">
    <select class="ip">
      <option>Intresting Peoples </option>
      <option>Business Peoples</option>
      <option>Idea Peoples </option>
      <option>Entertainment Peoples </option>
      <option>Talented Peoples </option>
      <option>Startup Plan Peoples </option>
      <option>Create Your own tag + </option>
    </select>



<div class="card">
  <div class="contentbox" *ngFor="let user of users">
    <div class="personcard">
      <div class="personimage">
<img  src="{{user.image}}">
      </div>
<div class="content">
  <h5 class="contenttext"><b>Name:</b>{{user.name}}<br><b>Place:</b>{{user.place}}</h5>

</div>
    </div>
  </div>
  
  

</div>
   </div>

</div>


</body>